#sideNav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  /* disable the blue bg */
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }


.nav-link.active {
    color: white;
    border-bottom-color:white;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}



.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}


#copyright {
    color: rgba(255,255,255,0.5);
}
/* .dropdown-item:hover{
    background-color: #17a2b8;
  } */

